<!DOCTYPE html>
<html class="no-js">
  <html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title></title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="" />
    </head>
    <body>
      <app-navbar></app-navbar>
      <h1>Welcome to Sunshine Park Adult Family Homes LLC</h1>
      <p>
        "Always utilizing our experience in the healthcare field, to strive to
        provide excellent care, along with enabling the freedom of choice for
        every resident. Our goal at Sunshine Park adult family homes is to
        always tap into the interests of each resident and ensure that we
        provide an outlet for those interests."
      </p>
      <div class="about">
        <app-card
          *ngFor="let post of data"
          [header]="post.header"
          [images]="post.imgUrl"
          [content]="post.content"
        ></app-card>
      </div>
    </body>
  </html>
</html>
